<div class="meme">
    <a href="#/memes/details/:{{_id}}" class="meme-title">{{title}}</a>
    <br>
    <a href="#/memes/details/:{{_id}}"><img class="meme-image" src="{{imageUrl}}"></a>
    <div class="info">
        <div id="data-buttons">
            <a href="#/memes/details/:{{_id}}" class="custom-button">Check Out</a>
            <a href="#/memes/edit/:{{_id}}" class="custom-button">Edit</a>
            <a href="#/memes/delete/:{{_id}}" class="custom-button">Delete</a>
            <a href="#/user/:{{creatorId}}" class="creator">Creator: {{creator}}</a> {{!-- //TODO: FIX Usename --}}
        </div>
    </div>
    <hr>
</div>